# Archivos generados por el entorno virtual
chat_ve

# Archivos de caché
__pycache__/
.pytest_cache/

# Archivos de configuración local
.env
local.py

# Bases de datos
db.sqlite
*.db

# Archivos de registro
logs/

# Archivos temporales
*.tmp
*.swp